<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Skin Cancer Detection</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/css/form_upload.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
  </head>

  <body class="bg-custom">
     
    <div class="container mt-0">
    
      <div class="row text-white">
        <div class="col-9">
          <h1><a href="/" >Skin Cancer Detection</a></h1>

        </div>
        <div class="col-3">
          <p class="float-right h5"><a href="/about" >About</a></p>
        </div>
      </div>  
      
      <div class="row form align-items-center m-4">
        <div class="col-10 mx-auto bg-white-50">
          <div class="p-5 text-justify">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eros dolor, sollicitudin nec lorem eget, finibus sagittis arcu. Sed volutpat placerat iaculis. Sed volutpat lobortis tempor. Donec sodales ipsum et euismod consectetur. Aenean nisi dolor, commodo commodo suscipit sit amet, vehicula eget enim. Nam dictum aliquam tincidunt. Donec placerat sit amet tellus sit amet porta. Ut tempor sem vitae ante tristique, a efficitur ante finibus. Duis eget diam quis orci interdum viverra. Nunc tempor condimentum diam non molestie. Sed interdum enim quis urna molestie, quis condimentum est scelerisque. Pellentesque condimentum urna diam, vel vehicula arcu facilisis sit amet. Pellentesque vulputate maximus turpis, vel pellentesque tortor cursus hendrerit. Vivamus gravida, tellus at imperdiet porttitor, nisl nibh ornare diam, ut malesuada erat dui vel purus. Phasellus dictum elit ut aliquam pretium. Donec vehicula mi nunc, congue aliquam magna sodales quis.
            </p>
            <p>

              Nam odio mi, maximus sit amet eleifend vitae, lobortis nec nisi. Nulla sagittis, nulla a maximus tristique, sem tortor consequat purus, a euismod lectus mauris et dolor. Maecenas diam nulla, malesuada a sem non, molestie suscipit justo. Cras pellentesque mattis facilisis. Sed varius vestibulum dolor. Suspendisse feugiat, justo a porttitor dapibus, lorem turpis fermentum dolor, interdum tempus odio magna eget leo. Donec porttitor ex dolor, non cursus odio elementum vel. Donec vestibulum, purus at malesuada facilisis, lacus purus hendrerit sem, vel tempor felis magna eu sapien. Suspendisse sit amet porttitor justo. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            </p>
          </div>
        </div>


      </div>
     
    </div>
    
  </body>
</html>
